# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pkl
*.joblib

# Environments
.env
.venv/
env/
venv/

# VSCode / Jupyter
.ipynb_checkpoints/
.vscode/

# Poetry / PyPI
poetry.lock
.pypirc

# ML stuff
/data/
/output/
/mlruns/
/mlflow/

# Testing / Coverage
.cache/
.pytest_cache/
coverage.xml

# Docker
*.log

# Tools
.ruff_cache/
.dmypy.json